<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Recipe App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="ion-no-padding">
    <ion-card-header class="ion-no-padding">
      <ion-img  src="\assets\icon\kitchen.png"></ion-img>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let recipe of recipes" [routerLink]="['./', recipe.id]">
      <ion-avatar slot="start"> 
        <ion-img [src]="recipe.imageUrl"> </ion-img>
      </ion-avatar>
      <ion-label>{{recipe.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>